@font-face {
    font-family: "saenggeo";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/saenggeo/saenggeo.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/saenggeo/saenggeo.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/saenggeo/saenggeo.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/saenggeo/saenggeo.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/saenggeo/saenggeo.ttf") format("truetype");
    font-display: swap;
}
.saenggeo {
    font-family: "saenggeo";
}